{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}

<div role="container">
    <div class="flow-error">
        {{ 'open_orchestra_media_admin.form.upload.unsupported'|trans|raw }}
    </div>

    <div class="flow-drop" data-format="{{ media_allowed_mime_types|join(',') }}">
        <div class="dz-default dz-message">
            <span class="text-center">
                <span class="font-lg center-block">
                    <div class="font-lg">
                        <i class="fa fa-caret-right text-danger"></i>
                        {{ 'open_orchestra_media_admin.form.upload.drop'|trans }}
                    </div>
                    <div>- {{ 'open_orchestra_media_admin.form.upload.or'|trans }} -</div>
                    <a class="flow-browse-folder btn btn-default">
                        {{ 'open_orchestra_media_admin.form.upload.folder'|trans }}
                    </a>
                    <div>- {{ 'open_orchestra_media_admin.form.upload.or'|trans }} -</div>
                    <a class="flow-browse btn btn-default">
                        {{ 'open_orchestra_media_admin.form.upload.file'|trans }}
                    </a>
                </span>
            </span>
        </div>
    </div>

    <div class="flow-progress">
        <div class="progress-container">
            <div class="progress-bar"></div>
        </div>
    </div>

    <ul class="flow-list"></ul>

    {% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/backToList._tpl.twig' %}
    {% include 'OpenOrchestraMediaAdminBundle:BackOffice:Underscore/Include/backToListModal._tpl.twig' %}

    <span class="hidden-info" id="uploadFailed">
        {{ 'open_orchestra_media_admin.form.upload.failed'|trans }}
    </span>
    <span class="hidden-info" id="uploadRemaining">
        {{ 'open_orchestra_media_admin.form.upload.remaining'|trans }}
    </span>
    <span class="hidden-info" id="uploadCompleted">
        {{ 'open_orchestra_media_admin.form.upload.completed'|trans }}
    </span>

</div>

{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
