{% macro node_folder(folder, mediaType) %}
    <a
        id="media-modal-{{ folder.id }}"
        class="media-modal-menu-folder"
        data-url="{{ path('open_orchestra_api_media_list', {'folderId': folder.id, 'mediaType': mediaType}) }}"
    >
        <span>{{ folder.name }}</span>
    </a>
{% endmacro %}

{% macro new_folder(parentId) %}
    <li>
        <div class="ui-state-unsortable">
           <a
               class="media-modal-menu-new-folder"
               href="#"
               data-url="{{ path('open_orchestra_media_admin_folder_new', {'parentId': parentId}) }}"
           >
               <span class="btn btn-xs btn-success">
                   <i class="fa fa-file"></i>
                   {{ 'open_orchestra_media_admin.left_menu.tree.new_media_folder'|trans }}
               </span>
           </a>
        </div>
    </li>
{% endmacro %}
