{% extends 'OpenOrchestraBackofficeBundle:Form:form_div_layout.html.twig' %}

{% block oo_media_choice_widget %}
    {% spaceless %}
        {{ block('form_widget') }}
        {% set src = '' %}
        {% if
            value is not null and
            value.id is defined and
            value.format is defined and
            value.id is not empty
        %}
            {% set src = get_media_url(value.id, value.format) %}
        {% endif %}
        <div class="oo-media-choice-preview-image">
            <img
                height="100px"
                {% if src != '' %}src="{{ src }}"{% endif %}
                id="previewImage_{{ id }}"
            />
            <span class="media-form-no-img-selected">{{ 'open_orchestra_media_admin.form.media.no_media_selected'|trans }}</span>
        </div>
        {% if not disabled %}
            <div class="media-form-type">
                <a class="btn btn-default mediaModalOpen
                    data-target="modal_media_{{ id }}"
                    data-input="{{ id }}"
                    data-url="{{ path('open_orchestra_media_admin_media_list_form', {'mediaType': form.vars.filter}) }}"
                    data-media-type="{% if form.vars.filter %}{{ form.vars.filter }}{% else %}false{% endif %}"
                >
                    <i class="fa fa-folder-open-o"></i>
                    {{ 'open_orchestra_media_admin.left_menu.editorial.browse'|trans({'language':context.currentLocale}) }}
                    {% if form.vars.filter %}<br />[ {{ ('open_orchestra_media_admin.media_filter.' ~ form.vars.filter) |trans({'language':context.currentLocale}) }} ]{% endif %}
                </a>
                <br><br>
                <button class="btn btn-warning clear-media" data-input="{{ id }}">
                    {{ 'open_orchestra_backoffice.form.remove'|trans }}
                </button>
            </div>
        {% endif %}
        {{ form_errors(form.children.id) }}
        <div id="{{ id }}_modal"></div>
    {% endspaceless %}
{% endblock %}

{% block _oo_media_image_format_row %}
    {% if form.parent.vars.alternatives is defined %}
        {{ form_row(form) }}
    {% else %}
        <p class="well text-center">
            {{ 'open_orchestra_media_admin.form.media.alternative_loading'|trans }}
        </p>
    {% endif %}
{% endblock _oo_media_image_format_row %}

{% block _oo_media_image_format_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
        <!-- STORED ALTERNATIVE VERSIONS -->
        <div class="media_crop_preview">
            <img class="media_crop_original" src="{{ form.parent.vars.alternatives.original }}"
            {% if ('' != form.vars.value) %}style="display: none;"{% endif %}>
            {% for choice in form.vars.choices %}
                <img class="media_crop_{{ choice.value }}" src="{{ form.parent.vars.alternatives[choice.value] }}"
                {% if (choice.value != form.vars.value) %}style="display: none;"{% endif %}>
            {% endfor %}
        </div>

        <!-- ALTERNATIVE VERSIONS ACTION BUTTONS -->
        <div class="media_format_actions"{% if ('' == form.vars.value) %} style="display:none;"{% endif %}>
            <a href="#" class="btn btn-border btn-crop" id="crop_action_button" role="button">
                {{ 'open_orchestra_media_admin.form.media.manual_crop'|trans }}
            </a>
            <a href="#" class="btn btn-border btn-exchange" id="upload_action_button" role="button">
                {{ 'open_orchestra_media_admin.form.media.alternative_file'|trans }}
            </a>
        </div>

        <!-- CROP TOOL -->
        <div id="crop-group" style="display:none">
            <img src="{{ form.parent.vars.alternatives.original }}" class="superbox-current-img"/><br />
            <div id="preview-pane" style="display: none">
                <div class="preview-container">
                    <img  class="jcrop-preview" alt="Preview" />
                </div>
            </div>
        </div>

        <!-- UPLOAD TOOL -->
        <div class="media-override-format-form" style="display:none"></div>
    {% endspaceless %}
{% endblock _oo_media_image_format_widget %}
