{% extends 'OpenOrchestraBackofficeBundle:Form:form_div_layout.html.twig' %}

{% block oo_media_choice_widget %}
    {% spaceless %}
        {% set type = 'hidden' %}
        {{ block('form_widget') }}&nbsp;
        {% set src = get_media_format_url_from_string(value) %}
        <img
            height="100px"
            {% if src != '' %}src="{{ src }}"{% endif %}
            id="previewImage_{{ id }}"
            class="previewImage"
        />
        &nbsp;
        {% if not disabled %}
            <div class="media-form-type">
                <a class="btn btn-default mediaModalOpen"
                    data-target="{{ id }}_modal"
                    data-input="{{ id }}"
                    data-url="{{ path('open_orchestra_media_admin_media_list_form') }}">
                    <i class="fa fa-folder-open-o"></i>
                    {{ 'open_orchestra_media_admin.left_menu.editorial.browse'|trans({'language':context.currentLocale}) }}
                </a>
                <br /><br />
                <button class="btn btn-warning clear-media" data-input="{{ id }}">
                    {{ 'open_orchestra_backoffice.form.remove'|trans }}
                </button>
            </div>
        {% endif %}
        <div id="{{ id }}_modal"></div>
    {% endspaceless %}
{% endblock %}

{% block oo_tinymce_widget %}
    {{ parent() }}
      <div
          class="{{ id }} modal_media"
          data-url="{{ path('open_orchestra_media_admin_media_list_form') }}"
      ></div>
{% endblock %}
