{% extends 'OpenOrchestraBackofficeBundle:Form:form_div_layout.html.twig' %}

{% block oo_media_choice_widget %}
    {% spaceless %}
        {{ block('form_widget') }}
        {% set src = '' %}
        {% if
            value is not null and
            value.id is defined and
            value.format is defined and
            value.id is not empty
        %}
            {% set src = get_media_url(value.id, value.format) %}
        {% endif %}
        <div class="oo-media-choice-preview-image">
            <img
                height="100px"
                {% if src != '' %}src="{{ src }}"{% endif %}
                id="previewImage_{{ id }}"
            />
            <span class="media-form-no-img-selected">{{ 'open_orchestra_media_admin.form.media.no_media_selected'|trans }}</span>
        </div>
        {% if not disabled %}
            <div class="media-form-type">
                <a class="btn btn-default mediaModalOpen
                    data-target="modal_media_{{ id }}"
                    data-input="{{ id }}"
                    data-url="{{ path('open_orchestra_media_admin_media_list_form', {'mediaType': form.vars.filter}) }}"
                    data-media-type="{% if form.vars.filter %}{{ form.vars.filter }}{% else %}false{% endif %}"
                >
                    <i class="fa fa-folder-open-o"></i>
                    {{ 'open_orchestra_media_admin.left_menu.editorial.browse'|trans({'language':context.currentLocale}) }}
                    {% if form.vars.filter %}<br />[ {{ ('open_orchestra_media_admin.media_filter.' ~ form.vars.filter) |trans({'language':context.currentLocale}) }} ]{% endif %}
                </a>
                <br><br>
                <button class="btn btn-warning clear-media" data-input="{{ id }}">
                    {{ 'open_orchestra_backoffice.form.remove'|trans }}
                </button>
            </div>
        {% endif %}
        {{ form_errors(form.children.id) }}
        <div id="{{ id }}_modal"></div>
    {% endspaceless %}
{% endblock %}

{% block oo_tinymce_widget %}
    {{ parent() }}
      <div
          id="modal_media_{{ id }}"
          data-url="{{ path('open_orchestra_media_admin_media_list_form') }}"
      ></div>
{% endblock %}
