{% extends 'OpenOrchestraBackofficeBundle:Form:form_div_layout.html.twig' %}

{% block oo_media_choice_widget %}
    {% spaceless %}
        <div class="media-forms orchestra-media-choice">
            {{ block('form_widget') }}
            {% set src = '/img/no-media.png' %}
            {% set nomedia = true %}
            {% if
                value is not null and
                value.id is defined and
                value.format is defined and
                value.id is not empty
            %}
                {% set src = get_media_url(value.id, value.format) %}
                {% set nomedia = false %}
            {% endif %}

            <div class="image" id="preview-{{ form.vars.id }}">
                <img height="100px" src="{{ src }}" alt="{{ value.alt }}" title="{{ value.alt }}" />
                <div
                    class="no-media"
                    {% if (false == nomedia) %}
                        style="display:none"
                    {% endif %}
                >
                    {{ 'open_orchestra_media_admin.form.media.no_media_selected'|trans }}
                </div> 
            </div>
            {% if not disabled %}
                <a class="btn btn-border btn-browse"
                    role="button"
                    data-media-type="{{ form.vars.filter }}"
                    data-form-id="{{ form.vars.id }}"
                >
                    {{ 'open_orchestra_media_admin.left_menu.editorial.browse'|trans({'language':context.currentLocale}) }}
                    {% if form.vars.filter %}
                        <br />[ {{ ('open_orchestra_media_admin.media_filter.' ~ form.vars.filter) |trans({'language':context.currentLocale}) }} ]
                    {% endif %}
                </a>
                <a class="btn btn-border btn-remove"
                    role="button"
                    data-form-id="{{ form.vars.id }}"
                >
                    {{ 'open_orchestra_backoffice.form.remove'|trans }}
                </a>
            {% endif %}
            {{ form_errors(form.children.id) }}
            <div id="{{ id }}_modal"></div>
        </div>
    {% endspaceless %}
{% endblock oo_media_choice_widget %}

{% block _oo_media_image_format_row %}
    {% if form.parent.vars.alternatives is defined %}
        {{ form_row(form) }}
    {% else %}
        <p class="well text-center">
            {{ 'open_orchestra_media_admin.form.media.alternative_loading'|trans }}
        </p>
    {% endif %}
{% endblock _oo_media_image_format_row %}

{% block _oo_media_image_format_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
        <!-- STORED ALTERNATIVE VERSIONS -->
        <div class="media_crop_preview">
            <img class="media_crop_original" src="{{ form.parent.vars.alternatives.original }}"
            {% if ('' != form.vars.value) %}style="display: none;"{% endif %}>
            {% for choice in form.vars.choices %}
                <img class="media_crop_{{ choice.value }}" src="{{ form.parent.vars.alternatives[choice.value] }}"
                {% if (choice.value != form.vars.value) %}style="display: none;"{% endif %}>
            {% endfor %}
        </div>

        <!-- ALTERNATIVE VERSIONS ACTION BUTTONS -->
        <div class="media_format_actions"{% if ('' == form.vars.value) %} style="display:none;"{% endif %}>
            <a href="#" class="btn btn-border btn-crop" id="crop_action_button" role="button">
                {{ 'open_orchestra_media_admin.form.media.manual_crop'|trans }}
            </a>
            <a href="#" class="btn btn-border btn-exchange" id="upload_action_button" role="button">
                {{ 'open_orchestra_media_admin.form.media.alternative_file'|trans }}
            </a>
        </div>

        <!-- CROP TOOL -->
        <div id="crop-group" style="display:none">
            <img src="{{ form.parent.vars.alternatives.original }}" class="superbox-current-img"/><br />
            <div id="preview-pane" style="display: none">
                <div class="preview-container">
                    <img  class="jcrop-preview" alt="Preview" />
                </div>
            </div>
        </div>

        <!-- UPLOAD TOOL -->
        <div class="media-override-format-form" style="display:none"></div>
    {% endspaceless %}
{% endblock _oo_media_image_format_widget %}
